In [7]:
from rdflib import Graph, Namespace, Literal, RDF,URIRef
import pandas as pd
from rdflib.namespace import DC, DCTERMS, DOAP, FOAF, SKOS, OWL, RDF, RDFS, VOID, XMLNS, XSD

In [8]:
aiiso = Namespace('http://purl.org/vocab/aiiso/schema#')
oloud = Namespace('http://lod.nik.uni-obuda.hu/oloud/oloud#')
dbo = Namespace('http://dbpedia.org/ontology/')
main = Namespace('http://www.semanticweb.org/abdul/ontologies/2023/University#')
resource = Namespace('http://www.semanticweb.org/abdul/ontologies/2023/University/Resource/')

In [9]:
g= Graph()
g.parse(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\University Ontology - III.rdf", format="xml")

In [4]:
# g.bind("foaf", FOAF)
# g.bind("xsd", XSD)
# g.bind("owl", OWL)
# g.bind("dbo", dbo)
# g.bind("oloud", oloud)
# g.bind("aiiso", aiiso)
# g.bind(":", main)
# g.bind("resource", resource)

In [3]:
university=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\University.xlsx")
university

    Entity    Label
0     fast     FAST
1  comsats  COMSATS
2     giki     GIKI

In [6]:
for index, row in university.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    uni = URIRef('http://dbpedia.org/ontology/University')
    
    g.add((ent, RDF.type, uni))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))

In [7]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v1.rdf', format="xml")

In [8]:
staff=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Staff.xlsx")
staff

            Entity             Name Gender  Age             Class
0     fahadshahzad    Fahad Shahzad      M   35  Academic_Officer
1       amirrehman      Amir Rehman      M   40  Academic_Officer
2    shahidqureshi   Shahid Qureshi      M   43           Acounts
3    shahzadsaleem   Shahzad Saleem      M   54           Acounts
4      rizwanjaved     Rizwan Javed      M   65           Acounts
5        haiderali       Haider Ali      M   34     Library_Staff
6        falakkhan       Falak Khan      M   54       Maintanance
7      aftabbhatti     Aftab Bhatti      M   65       Maintanance
8      shireenkhan     Shireen Khan      M   43  Security_Officer
9   muhammadshiraz  Muhammad Shiraz      M   45  Security_Officer
10    shahzadaslam    Shahzad Aslam      M   43  Security_Officer

In [9]:
for index, row in staff.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    cl = URIRef(f'http://www.semanticweb.org/abdul/ontologies/2023/University#{row["Class"]}')
    
    g.add((ent, RDF.type, cl))
    g.add((ent, FOAF.name, Literal(row['Name'], datatype=XSD.string)))
    g.add((ent, FOAF.gender, Literal(row['Gender'], datatype=XSD.string)))
    g.add((ent, FOAF.age, Literal(row['Age'], datatype=XSD.integer)))

In [10]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v2.rdf', format="xml")

In [11]:
dept=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Departments.xlsx")
dept

  Entity                               Label   Campus
0     cs        Computer Science Department   fastisb
1     ai  Artificial Intelligence Department  fastisb
2     se     Software Engineering Department  fastisb
3     ds             Data Science Department  fastisb

In [12]:
for index, row in dept.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    depart = URIRef('http://purl.org/vocab/aiiso/schema#Department')
    
    g.add((ent, RDF.type, depart))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))

In [13]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v3.rdf', format="xml")

In [14]:
camp=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Campus.xlsx")
camp

       Entity              Label Located At University    Director
0     fastisb     Fast Islamabad  Islamabad       fast  amnakamran
1  comsatsisb  Comsats Islamabad  Islamabad    comsats           -
2     fastlhr        Fast Lahore     Lahore       fast           -

In [15]:
for index, row in camp.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    campus = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Campus')
    
    g.add((ent, RDF.type, campus))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))
    g.add((ent, URIRef(main + 'located_at'), Literal(row['Located At'], datatype=XSD.string)))
    g.add((ent, URIRef(resource + 'campus'), URIRef(resource + row['University'])))

In [16]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v4.rdf', format="xml")

In [17]:
committee=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Committee.xlsx")
committee

     Entity                           Label
0       qec  Quality Enhancement Cell (QEC)
1      icpc                  ICPC Committee
2  research              Research Committee
3  industry      Industry Liaison Committee
4    hiring                Hiring Committee

In [18]:
for index, row in committee.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    com = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Committee')
    
    g.add((ent, RDF.type, com))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))

In [19]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v5.rdf', format="xml")

In [20]:
course=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Course.xlsx")
course

                   Entity                                        Label
0                     krr         Knowledge Representation & Reasoning
1                    algo            Design and Analysis of Algorithms
2                      os                            Operating Systems
3                     tbw                 Technical & Business Writing
4                      db                             Database Systems
5                      ml                             Machine Learning
6                    coal  Computer Organization and Assembly Language
7  artificialintelligence                    Artificial Intelligence\t
8          fundamentalsse         Fundamentals of Software Engineering

In [21]:
for index, row in course.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    cour = URIRef('http://purl.org/vocab/aiiso/schema#Course')
    
    g.add((ent, RDF.type, cour))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))

In [22]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v6.rdf', format="xml")

In [23]:
degree=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Degree.xlsx")
degree

,Entity,Label,Recognized By,Course 1,Course 2,Course 3,Course 4,Course 5
0,bsai,BACHELOR OF SCIENCE (ARTIFICIAL INTELLIGENCE),NAEAC,krr,algo,os,tbw,db
1,bsds,BACHELOR OF SCIENCE (DATA SCIENCE),NAEAC,krr,algo,os,tbw,db
2,bscys,BACHELOR OF SCIENCE (CYBER SECURITY),NAEAC,krr,algo,os,tbw,db
3,phdcs,DOCTOR OF PHILOSOPHY (COMPUTER SCIENCE,NAEAC,-,-,-,-,-

In [24]:
for index, row in degree.iterrows():
        
    ent = URIRef(resource + row['Entity'])
    dg = URIRef('http://lod.nik.uni-obuda.hu/oloud/oloud#Degree')
    
    g.add((ent, RDF.type, dg))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))
    g.add((ent, URIRef(main + 'recognized_by'), URIRef(main + 'NAEAC')))
    
    if row['Course 1'] != '-':
        g.add((ent, URIRef(main + 'degree_course'), URIRef(main + row['Course 1'])))
    if row['Course 2'] != '-':
        g.add((ent, URIRef(main + 'degree_course'), URIRef(main + row['Course 2'])))
    if row['Course 3'] != '-':
        g.add((ent, URIRef(main + 'degree_course'), URIRef(main + row['Course 3'])))
    if row['Course 4'] != '-':
        g.add((ent, URIRef(main + 'degree_course'), URIRef(main + row['Course 4'])))
    if row['Course 5'] != '-':
        g.add((ent, URIRef(main + 'degree_course'), URIRef(main + row['Course 5'])))

In [25]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v7.rdf', format="xml")

In [26]:
faculty=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Faculty.xlsx")
faculty

,Entity,Name,Age,Gender,Type,Department,Qualification
0,umairarshad,Umair Arshad,35,M,Lecturer,cs,bsai
1,hassanmujtaba,Hassan Mujtaba,45,M,Head_of_Department,ai,bsds
2,naveedahmed,Naveed Ahmed,46,M,Head_of_Department,se,bscys
3,maheenarshad,Maheen Arshad,39,F,Assistant_Professor,ds,phdcs
4,ayeshakamran,Ayesha Kamran,34,F,Assistant_Professor,cs,bsai
5,ismahassan,Isma Hassan,37,F,Associate_Professor,ai,bsds
6,irfanullah,Irfan Ullah,56,M,Instructor,se,bscys
7,amnakamran,Amna Kamran,32,F,Director,ds,phdcs
8,asifnaeem,Asif Naeem,39,M,Assistant_Professor,cs,bsai
9,zainababaid,Zainab Abaid,37,F,Associate_Professor,ai,bsds
10,ahmeddin,Ahmed Din,46,M,Instructor,se,bscys
11,hassanraza,Hassan Raza,34,M,Instructor,ds,phdcs
12,akhtarjamil,Akhtar Jamil,46,M,Lecturer,cs,bsai
13,usmanhabib,Usman Habib,33,M,Lecturer,ai,bsds
14,sabakanwal,Saba Kanwal,54,F,Professor,se,bscys
15,uzairkhan,Uzair Khan,56,M,Professor,ds,phdcs
16,bushraamjad,Bushra Amjad,47,F,Associate_Professor,ds,phdcs

In [27]:
for index, row in faculty.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    ty = URIRef(main + row['Type'])
    
    g.add((ent, RDF.type, ty))
    g.add((ent, FOAF.name, Literal(row['Name'], datatype=XSD.string)))
    g.add((ent, FOAF.age, Literal(row['Age'], datatype=XSD.integer)))
    g.add((ent, FOAF.gender, Literal(row['Gender'], datatype=XSD.string)))
    g.add((ent, URIRef(main + 'belongs_to_faculty'), URIRef(resource + row['Department'])))
    g.add((ent, URIRef(main + 'qualification'), URIRef(resource + row['Qualification'])))

In [28]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v8.rdf', format="xml")

In [29]:
section=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Section.xlsx")
section

  Entity Label Parent
0    csa  CS-A     cs
1    csb  CS-B     cs
2    sea  SE-A     se
3    aia  AI-A     ai
4    aij  AI-J     ai

In [30]:
for index, row in section.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    sc = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Section')
    
    g.add((ent, RDF.type, sc))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))
    g.add((ent, URIRef(main + 'parent'), URIRef(resource + row['Parent'])))

In [31]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v9.rdf', format="xml")

In [32]:
students=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Student.xlsx")
students

,Entity,Name,Roll No,Gender,Age,Department,registered_in
0,maaz_ali_nadeem,Maaz Ali Nadeem,i200452,M,22,cs,aij-krr-fa-23
1,khadija_irfan,Khadija Irfan,i200453,F,19,ai,aij-algo-fa-23
2,khaula_atiq,Khaula Atiq,i200454,F,21,se,-
3,muhammad_oun,Muhammad Oun,i212718,M,21,ds,-
4,hamza_ahmed,Hamza Ahmed,i210256,M,22,ds,-

In [33]:
for index, row in students.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    sc = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Student')
    
    g.add((ent, RDF.type, sc))
    g.add((ent, FOAF.name, Literal(row['Name'], datatype=XSD.string)))
    g.add((ent, URIRef(main + 'roll_number'), Literal(row['Roll No'], datatype=XSD.string)))
    g.add((ent, FOAF.gender, Literal(row['Gender'], datatype=XSD.string)))
    g.add((ent, FOAF.age, Literal(row['Age'], datatype=XSD.integer)))
    g.add((ent, URIRef(main + 'belongs_to_student'), URIRef(resource + row['Department'])))
    g.add((ent, URIRef(main + 'registered_in'), URIRef(resource + row['registered_in'])))

In [34]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v10.rdf', format="xml")

In [35]:
for index, row in camp.iterrows():
    if row['Director'] != '-':
        g.add((URIRef(resource + row['Director']), URIRef(main + 'director'), URIRef(resource + row['Entity'])))

In [36]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v10.rdf', format="xml")

In [37]:
semester=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Semester.xlsx")
semester

       Entity      Session
0  spring2023  Spring 2023
1    fall2023    Fall 2023
2    fall2021    Fall 2021
3  spring2022  Spring 2022
4    fall2022    Fall 2022

In [38]:
for index, row in semester.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    sc = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Semester')
    g.add((ent, RDF.type, sc))
    g.add((ent, URIRef(main + 'academic_session'), Literal(row['Session'], datatype=XSD.string)))

In [39]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v11.rdf', format="xml")

In [40]:
ctenure=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Committee Tenure.xlsx")
ctenure

,Entity,Committee,Semester,Head,Member 1,Member 2,Member 3,Member 4,Member 5
0,qec_spring2023,qec,spring2023,umairarshad,hassanraza,usmanhabib,zainababaid,-,-
1,icpc_fall2023,icpc,fall2023,hassanmujtaba,maheenarshad,umairarshad,hassanraza,ahmeddin,-
2,research_fall2021,research,fall2021,ahmeddin,amnakamran,ayeshakamran,sabakanwal,hassanraza,bushraamjad
3,industry_spring2022,industry,spring2022,asifnaeem,irfanullah,ismahassan,uzairkhan,-,-
4,hiring_fall2023,hiring,fall2023,uzairkhan,ismahassan,irfanullah,-,-,-
5,qec_fall2023,qec,fall2023,naveedahmed,akhtarjamil,amnakamran,bushraamjad,-,-
6,industry_fall2022,industry,fall2022,ismahassan,uzairkhan,asifnaeem,-,-,-

In [41]:
for index, row in ctenure.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    sc = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Committee_Tenure')
    g.add((ent, RDF.type, sc))
    g.add((ent, URIRef(main + 'committee'), URIRef(resource + row['Committee'])))
    g.add((ent, URIRef(main + 'tenure_committee'), URIRef(resource + row['Semester'])))
    g.add((ent, URIRef(main + 'head'), URIRef(resource + row['Head'])))
    g.add((URIRef(resource + row['Head']), URIRef(main + 'is_head_of'), ent))
    
    if row['Member 1'] != '-':
        g.add((ent, URIRef(main + 'member'), URIRef(resource + row['Member 1'])))
        g.add((URIRef(resource + row['Member 1']), URIRef(main + 'is_member_of'), ent))
    if row['Member 2'] != '-':
        g.add((ent, URIRef(main + 'member'), URIRef(resource + row['Member 2'])))
        g.add((URIRef(resource + row['Member 2']), URIRef(main + 'is_member_of'), ent))
    if row['Member 3'] != '-':
        g.add((ent, URIRef(main + 'member'), URIRef(resource + row['Member 3'])))
        g.add((URIRef(resource + row['Member 3']), URIRef(main + 'is_member_of'), ent))
    if row['Member 4'] != '-':
        g.add((ent, URIRef(main + 'member'), URIRef(resource + row['Member 4'])))
        g.add((URIRef(resource + row['Member 4']), URIRef(main + 'is_member_of'), ent))
    if row['Member 5'] != '-':
        g.add((ent, URIRef(main + 'member'), URIRef(resource + row['Member 5'])))
        g.add((URIRef(resource + row['Member 5']), URIRef(main + 'is_member_of'), ent))

In [42]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v12.rdf', format="xml")

In [43]:
seccocurse=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Sec-Course.xlsx")
seccocurse

            Entity Section                  Course    Semester        Faculty
0    aij-krr-fa-23     aij                     krr    fall2023     amnakamran
1   aij-algo-fa-23     aij                    algo    fall2023     usmanhabib
2     aij-os-fa-23     aij                      os    fall2023       ahmeddin
3    aij-tbw-fa-23     aij                     tbw    fall2023     sabakanwal
4     aij-db-sp-23     aij                      db  spring2023     usmanhabib
5     aij-ml-sp-23     aij                      ml  spring2023     hassanraza
6   aij-coal-sp-23     aij                    coal  spring2023    bushraamjad
7   aij-fdse-sp-23     aij          fundamentalsse  spring2023    zainababaid
8     aij-ai-sp-23     aij  artificialintelligence  spring2023    umairarshad
9   sea-fdse-sp-23     sea          fundamentalsse  spring2023    naveedahmed
10    aij-ml-fa-23     aij                      ml  spring2023  hassanmujtaba

In [44]:
for index, row in seccocurse.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    sc = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Sec_Course')
    
    g.add((ent, RDF.type, sc))
    g.add((ent, URIRef(main + 'course'), URIRef(resource + row['Course'])))
    g.add((ent, URIRef(main + 'offered_for'), URIRef(resource + row['Section'])))
    g.add((ent, URIRef(aiiso['course_term']), URIRef(resource + row['Semester'])))
    g.add((ent, URIRef(main['is_taught_by']), URIRef(resource + row['Faculty'])))
    g.add((URIRef(resource + row['Faculty']), URIRef(aiiso['teaches']), ent))

In [45]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v13.rdf', format="xml")

In [46]:
demon=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Demonstrator.xlsx")
demon

           Student      Sec_Course
0  maaz_ali_nadeem   aij-krr-fa-23
1    khadija_irfan  aij-algo-fa-23
2      khaula_atiq    aij-os-fa-23
3  maaz_ali_nadeem   aij-tbw-fa-23
4    khadija_irfan    aij-db-sp-23

In [47]:
for index, row in demon.iterrows():
    
    
    g.add((URIRef(resource + row['Student']), URIRef(main + 'lab_demonstrator'), URIRef(resource + row['Sec_Course'])))

In [48]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v14.rdf', format="xml")

In [49]:
for index, row in dept.iterrows():
    g.add((URIRef(resource + row['Entity']), URIRef(aiiso['part_of']), URIRef(resource + row['Campus'])))

In [50]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v15.rdf', format="xml")

In [51]:
medalist=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Medalist.xlsx")
medalist

           Student    Semester
0  zarmeen_tauseef  spring2023
1      sabah_nawab    fall2023
2   maheen_shoukat    fall2021
3     talha_nadeem  spring2022

In [52]:
for index, row in medalist.iterrows():
    
    g.add((URIRef(resource + row['Student']), URIRef(main['medalist']), URIRef(resource + row['Semester'])))

In [53]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v16.rdf', format="xml")

In [54]:
ta=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Teacher Assistant.xlsx")
ta

           Student      Sec_Course
0     muhammad_oun  aij-coal-sp-23
1      hamza_ahmed  aij-fdse-sp-23
2  maaz_ali_nadeem    aij-ai-sp-23
3    khadija_irfan  sea-fdse-sp-23

In [55]:
for index, row in ta.iterrows():
    
    g.add((URIRef(resource + row['Student']), URIRef(main['teacher_assistant']), URIRef(resource + row['Sec_Course'])))

In [56]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v17.rdf', format="xml")

In [57]:
soc=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Society.xlsx")
soc

  Entity                                 Label
0    fas                Fast Adventure Society
1   fcss        Fast Community Service Society
2   fais  Fast Artificial Intelligence Society

In [58]:
for index, row in soc.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    sc = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Society')
    
    g.add((ent, RDF.type, sc))
    g.add((ent, RDFS.label, Literal(row['Label'], datatype=XSD.string)))

In [59]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v18.rdf', format="xml")

In [60]:
soc_ten=pd.read_excel(r"D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Data\Society Tenure.xlsx")
soc_ten

,Entity,Society,Semester,Faculty,President,Officer 1,Officer 2,Officer 3,Officer 4,Officer 5
0,fas_spring2023,fas,spring2023,sabakanwal,aiman_azhar,abdulrehman,sabah_nawab,moiz_ahmed,mahnoor_mehmood,-
1,fas_fall2023,fas,fall2023,umairarshad,maheen_shoukat,aiman_azhar,abdulrehman,mahnoor_mehmood,moiz_ahmed,-
2,fais_fall2021,fais,fall2021,ayeshakamran,isaam_ansari,maheen_shoukat,aiman_azhar,moiz_ahmed,-,-
3,fais_spring2022,fais,spring2022,amnakamran,hammad_bakhtiar,sabah_nawab,maheen_shoukat,aiman_azhar,moiz_ahmed,-
4,fcss_fall2023,fcss,fall2023,umairarshad,talha_nadeem,hammad_bakhtiar,moiz_ahmed,talha_nadeem,-,-
5,fais_fall2023,fais,fall2023,hassanmujtaba,zarmeen_tauseef,hammad_bakhtiar,isaam_ansari,aiman_azhar,-,-
6,fas_fall2022,fas,fall2022,naveedahmed,moiz_ahmed,aiman_azhar,zarmeen_tauseef,-,-,-

In [61]:
for index, row in soc_ten.iterrows():
    
    ent = URIRef(resource + row['Entity'])
    sc = URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University#Society_Tenure')
    g.add((ent, RDF.type, sc))
    
    g.add((ent, URIRef(main + 'society'), URIRef(resource + row['Society'])))
    g.add((ent, URIRef(main + 'tenure_society'), URIRef(resource + row['Semester'])))
    g.add((ent, URIRef(main + 'president'), URIRef(resource + row['President'])))
    g.add((URIRef(resource + row['President']), URIRef(main + 'is_president_of'), ent))
    
    if row['Officer 1'] != '-':
        g.add((ent, URIRef(main + 'officer'), URIRef(resource + row['Officer 1'])))
        g.add((URIRef(resource + row['Officer 1']), URIRef(main + 'is_member_of'), ent))
    if row['Officer 2'] != '-':
        g.add((ent, URIRef(main + 'officer'), URIRef(resource + row['Officer 2'])))
        g.add((URIRef(resource + row['Officer 2']), URIRef(main + 'is_member_of'), ent))
    if row['Officer 3'] != '-':
        g.add((ent, URIRef(main + 'officer'), URIRef(resource + row['Officer 3'])))
        g.add((URIRef(resource + row['Officer 3']), URIRef(main + 'is_member_of'), ent))
    if row['Officer 4'] != '-':
        g.add((ent, URIRef(main + 'officer'), URIRef(resource + row['Officer 4'])))
        g.add((URIRef(resource + row['Officer 4']), URIRef(main + 'is_member_of'), ent))
    if row['Officer 5'] != '-':
        g.add((ent, URIRef(main + 'officer'), URIRef(resource + row['Officer 5'])))
        g.add((URIRef(resource + row['Officer 5']), URIRef(main + 'is_member_of'), ent))

In [62]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase-III\Output Ontologies\v19.rdf', format="xml")

In [12]:
ent = URIRef(resource + university['Entity'][0])
ent

rdflib.term.URIRef('http://www.semanticweb.org/abdul/ontologies/2023/University/Resource/fast')

In [14]:
g.add((ent, OWL.sameAs, URIRef('http://dbpedia.org/resource/National_University_of_Computer_and_Emerging_Sciences')))

In [17]:
ent = URIRef(resource + university['Entity'][1])
g.add((ent, OWL.sameAs, URIRef('https://www.wikidata.org/wiki/Q5013372')))

In [16]:
ent = URIRef(resource + university['Entity'][2])
g.add((ent, OWL.sameAs, URIRef('http://dbpedia.org/resource/Ghulam_Ishaq_Khan_Institute_of_Engineering_Sciences_and_Technology')))

In [20]:
g.serialize(destination=r'D:\Fast NU\5th semester (pro) shit\KRR\Project\Phase - IV\Out\final.rdf', format="xml")